.login-left{
    background-image: linear-gradient(rgba(163, 4, 4, 0.110), rgba(4, 9, 30, 0)),url(../Login/Login_images/login.png);
    background-repeat: no-repeat;
    background-size: cover;

    
}